@import 'open-props/style';
@import './variables';
@import './soon-to-be-tailwind.css';

body {
  background-color: var(--app-background);
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: var(--font-letterspacing-3);
  font-size: var(--font-size-2);
  line-height: var(--font-lineheight-1);
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  padding: 60px 30px;
  color: var(--app-text);
}

.menu {
  margin-bottom: var(--size-5);
}

a,
a:visited {
  color: var(--app-text);
}
