@import 'open-props/style';
@import './variables';
@import './soon-to-be-tailwind.css';

body {
  background-color: var(--alices-blanccasse);
  text-align: center;
  padding: var(--size-8) var(--size-6);
}

a,
a:visited {
  color: var(--alices-vin);
}

hr {
  border-top: var(--border-size-1) solid var(--alices-dore);
}
