:root {
  /* https://www.figma.com/file/cRCUqgLlAfwNf41xaD3VlE/ALICES-COM?node-id=3%3A2494 */
  --alices-rouge: #a61a2f;

  --alices-noir: #302a25;
  --alices-vin: #4d101c;

  --alices-dore: #ba9a60;
  --alices-biere: #e2ac68;

  --alices-cappucino: #dab398;
  --alices-cafe: #b8734c;

  --alices-gris: #cbc9bd;
  --alices-chocolat: #8e5a49;

  --alices-blanccasse: #fbfae6;
  --alices-beige: #fedbae;
  --alices-camel: #CAA577;

  --font-sans-2: 'Trueno Light';

  --use-motion-preference: 1;
  --slow: calc(var(--use-motion-preference) * 1000ms);

  /* semantics */
  --app-background: var(--alices-blanccasse);
  --app-text: var(--alices-vin);
  --app-text-emphase: var(--alices-rouge);
  --app-text-hide: var(--alices-dore);
}

@media (prefers-color-scheme: dark) {
  :root {
    --app-background: var(--alices-noir);
    --app-text: var(--alices-blanccasse);
    --app-text-emphase: var(--alices-beige);
    --app-text-hide: var(--alices-camel);
  }
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --use-motion-preference: 0;
  }
}
