@import 'open-props/style';

:root {
  --alices-red: hsl(351, 74%, 37%);
  --alices-darkred: #4b0f1c;
  --alices-brightred: #c51e30;
  --alices-white: #ffffff;
  --alices-gold: #dab398;
  --spacing: 10px;
  --spacing-big: 20px;
  --spacing-huge: 40px;
}

body {
  font-family: 'Bebas Neue', sans-serif;
  flex-direction: column;
  background-color: var(--alices-red);
  color: var(--alices-white);
  text-align: center;
  text-transform: uppercase;
  display: flex;
  padding: 60px 30px;
}

.menu {
  margin-bottom: var(--spacing-huge);
}
.menu a {
  display: block;
  text-transform: uppercase;
  color: var(--alices-white);
  padding: var(--size-4) var(--size-6);
  border-radius: var(--radius-round);
  text-decoration: none;
  font-family: 'Trueno Light';
  background-color: var(--alices-darkred);
  box-shadow: var(--shadow-1);
}
.menu a:hover {
  box-shadow: var(--shadow-3);
}

hr {
  border-color: var(--alices-gold);
}

a,
a:visited {
  color: var(--alices-white);
}
