:root {
  --alices-red: hsl(351, 74%, 37%);
  --alices-darkred: #4b0f1c;
  --alices-brightred: #c51e30;
  --alices-white: #ffffff;
  --alices-gold: #dab398;
  --spacing: 10px;
  --spacing-big: 20px;
  --spacing-huge: 40px;
}

body {
  font-family: 'Bebas Neue', sans-serif;
  flex-direction: column;
  background-color: var(--alices-red);
  color: var(--alices-white);
  text-align: center;
  text-transform: uppercase;
  display: flex;
  padding: 60px 30px;
}

.wrapper {
  max-width: 400px;
  margin: 0 auto;
}

.logo {
  font-size: 60px;
}

.cbsc {
  color: var(--alices-gold);
  font-family: 'Trueno Light';
  font-size: 12px;
  margin-bottom: var(--spacing);
}

.menu {
  margin-top: var(--spacing-huge);
  margin-bottom: var(--spacing-huge);
}
.menu a {
  display: inline-block;
  text-transform: uppercase;
  color: var(--alices-white);
  padding: 1rem 1.5rem;
  border-radius: 40px;
  text-decoration: none;
  font-family: 'Trueno Light';
  background-color: var(--alices-darkred);
}

hr {
  border-color: var(--alices-gold);
}

a,
a:visited {
  color: var(--alices-white);
}
